* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to right, #ffffff, #eaf7fb);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #0ea5e9;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  color: #334155;
}

.nav-links li {
  cursor: pointer;
}

.cta-btn {
  background: linear-gradient(to right, #06b6d4, #0ea5e9);
  border: none;
  color: white;
  padding: 12px 22px;
  border-radius: 25px;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  padding: 60px 80px;
}

/* LEFT */
.hero-left {
  width: 50%;
}

.badge {
  display: inline-block;
  padding: 6px 14px;
  background: #e0f2fe;
  color: #0284c7;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 20px;
}

.hero-left h1 {
  font-size: 54px;
  color: #0f172a;
}

.hero-left h1 span {
  color: #0ea5e9;
}

.hero-left p {
  color: #475569;
  max-width: 500px;
  line-height: 1.6;
  margin-top: 20px;
}

.trusted {
  margin-top: 40px;
}

.trusted p {
  font-size: 12px;
  color: #94a3b8;
}

.trusted-logos {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.trusted-logos div {
  width: 80px;
  height: 30px;
  background: #e5e7eb;
  border-radius: 6px;
}

/* RIGHT */
.hero-right {
  width: 50%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.activity-card,
.stats-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.activity-card {
  width: 300px;
}

.sub {
  font-size: 13px;
  color: #64748b;
}

.tabs {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.tabs span {
  font-size: 14px;
  color: #64748b;
  cursor: pointer;
}

.tabs .active {
  color: #0ea5e9;
  border-bottom: 2px solid #0ea5e9;
}

.bars {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  height: 150px;
}

.bar {
  width: 35px;
  height: 60%;
  background: #bae6fd;
  border-radius: 8px;
}

.bar.highlight {
  height: 90%;
  background: #06b6d4;
}

.days {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
  color: #64748b;
}

.stats-card {
  width: 200px;
  height: fit-content;
}

.stats-card h2 {
  margin: 5px 0;
  color: #0f172a;
}

.stats-card span {
  font-size: 12px;
  color: #64748b;
}

.stats-card hr {
  margin: 15px 0;
  border: none;
  border-top: 1px solid #e5e7eb;
}
